body{
    font-family: 'Noto Sans JP', sans-serif;
}

nav img{
    width: 200px;
}

.header-wrapper{
    background-color: #F0FFF0;
}
.header-wrapper ul li{
    padding: 15px;
    font-size: larger;
    font-weight: 500;
    color: black;
}
.banner-image{
    padding: 50px 0px;
    max-width: 100%;
    width: 100%;
}

.sign-in-btn{
    border: none;
    background-color: #21B573;
    border-radius: 20px;
    color: white;
    padding: 10px 30px;
}

.orange-text{
    color: orangered;
}

.green-text{
    color: #21B573;
}

.banner-section h1{
    font-weight: 700;
}

.card img{
    width: 100px;
    padding-top: 40px;
}

.cards1{
    margin-top: 50px;
    align-items: center;
}

.cards1 .card{
    border: none;
    background-color: #F8FFFB;
    border-radius: 10px;
}

.card-active{
    border: none;
    background-color:white!important;
    box-shadow: 5px 5px 10px lightgray;
}

.cards2{
    margin-top: 100px;
}

.cards2 h1{
    font-weight: 700;
    margin-bottom: 70px;
}

.testimonial-section{
    margin-top: 100px;
}

.testimonial-section h1{
    font-weight: 700;
    margin-bottom: 70px;
}

.testimonial-section img{
    width: 150px;
    margin-left: 65px;
}

.footer-wrapper{
    background-color: black;
    color: white;
}

.footer-large-text{
    font-size: larger;
    font-weight: 700;
    padding-bottom: 10px;
}

.footer-wrapper p{
    margin-top: 20px;
}
.footer-wrapper ul{
    margin-top: 20px;
}
.footer-wrapper ul li{
    list-style-type: none;
    cursor: pointer;
}

.footer-wrapper .container{
    margin-top: 50px;
}

.cards2 img{
    width: 100%;
    border-radius: 5px;
    padding: 10px;
}

.cards2 .card{
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 5px lightgray;
}

.card2-images{
    width: 20px;

}
